{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center p-0 m-0">
        <div class="text-center mt-3">
            <h3> Comenzar</h3>
        </div>
        <div class="col-12 col-sm-7 px-0 ps-sm-5 ps-sm-0">
            <div class="justify-content-center my-3 overflow-auto">
            <img src="img/camaraProporciones.png" alt="Cámara" style="width:49rem; height:35rem">
            </div>
        </div>
        <div class="col-11 col-sm-5 mt-3 px-5">
            <div class="form-check form-check-inline pt-3">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" {% if R %}} checked {% endif %}} disabled>
              <label class="form-check-label" for="inlineCheckbox1">R</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" {% if G %}} checked {% endif %}} disabled>
              <label class="form-check-label" for="inlineCheckbox2">G</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" {% if B %}} checked {% endif %}} disabled>
              <label class="form-check-label" for="inlineCheckbox3">B</label>
            </div>
            <div class="row mx-0 mt-2 p-0">
                <p class="p-0">Iluminación seleccionada: </p>
            </div>
            <div class="row mx-0 mb-3 mt-0 px-0">
                <p class="p-0"> Tiempo estimado para la adquisición:</p>
            </div>
            <div class="justify-content-center my-3">
                <img src="img/camaraProporciones.png" alt="Grafico" style="width:30rem; height:20rem">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mx-5 my-2 px-0">
        <a class="btn btn-primary me-3" href="/setup" role="button">Modificar Ajustes</a>
        <button type="submit" class="btn btn-primary">Iniciar</button>
    </div>

{%endblock%}
